body {
    text-align: center;
}
form {
    display: inline-block;
}
#image{
  background-image: url('bg_header.png');
  width:100%;
  max-width:667;
  height: 340px;
  overflow: hidden;
}
#requirements{
  margin-top: 0;
  margin: 0px;
  font-size: 25px;
  font-family: Arial,sans-serif;
  font-weight: bolder;
  text-align: center;
  width:105%;
  max-width:667;
  margin-left: -8px;
  overflow: hidden;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#tell{
  margin: 0px;
  color: red;
  font-size: 60px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  width:105%;
  max-width:667;
  margin-left: -8px;
  overflow: hidden;
}
#visa{
  margin: 0px;
  font-size: 60px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  width:105%;
  max-width:667;
  margin-left: -8px;
  overflow: hidden;
}
#myList{
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    width:125%;
    max-width:667;
    margin-left: -8px;
    margin-bottom: 8px;
    overflow: hidden;
}
#continueButton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 45px;
  display: inline-block;
  font-size: 36px;
  font-family: 'Abel', sans-serif;
 padding:0.35em 1.2em;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
#email{
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    width:155%;
    max-width:667;
    margin-left: -8px;
    overflow: hidden;
}
#terms{
    font-size:28px;
    font-family: Arial,sans-serif;
    width:105%;
    max-width:667;
    margin-left: -8px;
    overflow: hidden;
}
